.menu_create{
    font-size: 13px;
    }
    .menu_create__label{
        float: left;
        width: 90px;
        }
    .menu_create__list{
        margin: 0 0 0 90px;
        padding: 0;
        list-style: none;
        }
    .menu_create__item{
        display: inline-block;
        margin: 0 6px;
        }