html, body{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    position: relative;
    height: 100%;
    }
.admin{
    min-height: 100%;
    display: table;
    width: 100%;
    }
    .admin__menu{
        display: table-cell;
        width: 100px;
        padding: 15px 30px;
        background: #252525;
        color: #aaa;
        font-size: 14px;
        white-space: nowrap;
        border-right: 1px solid #DFDFDF;
        }

    .admin__main{
        display: table-cell;
        padding: 10px 20px;
        vertical-align: top;
        background: #f5f5f5;
        }
        .admin__main h1{
            margin-top: 0;
            }
    .admin__side{
        display: table-cell;
        width: 30px;
        vertical-align: top;
        background-color: #403F3F;
        }
