html, body{
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    height: 100%;
    }
.admin{
    min-height: 100%;
    display: table;
    width: 100%;
    }
    .admin__menu{
        display: table-cell;
        width: 100px;
        padding: 15px 30px;
        background: #ECECEC;
        color: #D5D5D5;
        font-size: 14px;
        white-space: nowrap;
        border-right: 1px solid #DFDFDF;
        }
        .admin__menu > ul{
            padding: 0 5px;
            }
            .admin__menu > ul ul{
                padding-left: 25px;
                list-style: disc;
                margin: 0 0 5px;
                }
        .admin__menu a{
            color: #565656;
            text-decoration: none;
            }
            .admin__menu a:hover{
                text-decoration: underline;
                }
    .admin__main{
        display: table-cell;
        padding: 10px;
        }
        .admin__main h1{
            margin-top: 0;
            }